/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fonts */
h1 {
    font-family: 'Lobster', cursive;
    font-size:72px;
}
p {
    font-family: 'Times New Roman', Times, serif;
}

.subheader {
    margin-bottom:10px;
    text-decoration: underline;
    font-weight:bold;
    font-size:20px;
}

.finale {
margin-top:10px;
font-weight:bold;
font-size:20px;
}

/* lock page */
.lock {
    height:100vh;
}

.lock__top,
.lock__bottom {
    background-color:#fcd008;
    height:50%;

}
.lock__bottom {
    background:#fcd008;
    position:absolute;
    width:100vw;
    bottom:0;
}
.lock__bottom img,
.lock__top img {
    position:relative;
    width:300px;
}
.lock__top img {
    top:100%;
 
}
.lock__bottom img {
    bottom:100%;

}
.lock__img-container {
    display:flex;
    justify-content:center;
    width:100%;
}
.lock__top {
display:flex;
align-items:flex-end;
}
.lock__login {
    display:flex;
    align-items:center;
    flex-direction:column;
    padding-top:40px;
}

.lock__button {
    padding:0;
    border-radius:10px;
    height:60px;
    width:100px;
    border:none;
    margin-top:20px;
    background:#c26202
}
.lock__button[value=Enter] {
    font-size:20px;
    color:white;
}

.lock__input {
    display:block;
}

/* main info */

.hidden {
    display:none;
}

.active {
    display:block;
}


/* Set the size of the div element that contains the map */
#map {
    text-align: center;
    /* border: 5px red solid; */
    height: 100%;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
  }

  .home {
     
      height: 100vh;
  }

  .home__invite {
display: flex;
flex-wrap:wrap;
width:100%;
  }

  .home__invite-image {
      width:50%
  }
.home__map-info {
    display:flex;
    flex-wrap:wrap;
    height:670px;
}
 
.home__info {
     background-image:url(./assets/fruit-wallpaper.jpeg);
     width:50%;
     display:flex;
     justify-content:center;
     align-items:center;
     height:100%;

}
.home__info-text {
    background:white;
    padding:40px;
    display:flex;
    flex-direction:column;
    max-height:80%;
    max-width:50%;

}

  .blue {
color:blue;
  }
  .purple {
color:purple
  }
  .orange {
      color:orangered;
  }
.green {
    color:green;
}
.pink {
    color:darkmagenta;
}
.red {
    color:red;
}
@media only screen and (max-width:600px) {
    .home__invite-image {
        width:100%
    }
    #map {
        width:100%;
    }
    .home__info {
        width:100%;
    }
  }